* {
  margin: 0;
  font-family: "Titillium Web", sans-serif;
}

/* body {
  background: rgba(208, 20, 20, 0.037);
  color: white;
  font-weight: bold;
} */

.content {
  width: 580px;
  margin: 0 auto;
  background-color: rgba(156, 99, 99, 0.449);
  padding: 3%;
  padding-left: 6%;
}

.secondTitle {
  text-align: left;
  margin: 2% 0;
  font-weight: bolder;
  font-size: 24px;
}

.form {
  padding: 5px;
}

.formLine {
  display: inline-flex;
  padding: 5px 0px;
}

.formLine-left {
  float: left;
}

.formLine-right {
  float: right;
  margin-right: 100px;
}

input,
select {
  width: 130px;
  margin-left: 10px;
  margin-bottom: 10px;
  border: white;
}

/* table style */
table {
  width: 100%;
}

thead {
  background-color: rgba(85, 46, 46, 0.539);
  line-height: 30px;
}

/* Button */

button {
  width: 200px;
  color: #fff;
  padding: 5px;
  text-align: center;
  font-size: 1.1em;
  line-height: 20px;
  background-color: rgba(85, 46, 46, 0.539);
  border-radius: 5px;
  border: 0;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}
/* 
a{
    text-decoration: underline;
    cursor: pointer;
} */
